@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Single+Day&display=swap");

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box1 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  width: 400px;
  height: 500px;
}
.assign {
  font-family: "Fira Code", monospace;
  position: absolute;
  top: 60%;
  right: 25%;
  letter-spacing: 4px;
  font-size: 30px;
}
.box1:hover {
  width: 420px;
}
img {
  padding: 20px;
  padding-top: 20px;
}

.logo {
  /* background: pink; */
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2000;
}
.logi {
  width: 200px;
  position: absolute;
  top: -15px;
  left: -10px;
}
.title {
  top: 10px;
  left: 195px;
  position: absolute;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  z-index: 2000;
  font-weight: 900;
  color: transparent;
  animation: bounce 1s infinite;
  position: relative;
  -webkit-text-stroke: 0.1vw lightblue;
}
.title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 80px;
  color: lightblue;
  -webkit-text-stroke: 0vw lightblue;
  border-right: 2px solid lightblue;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
.tit p {
  color: #111;
  padding-left: 400px;

  font-size: 50px;
  font-family: "Anonymous Pro", monospace;
}
.use {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.use .bobo {
  position: relative;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.use .bobo::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50%;
  height: 80%;
  background: rgb(197, 221, 229);
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.use .bobo::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50%;
  height: 80%;
  background: rgb(197, 221, 229);
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(10px);
  transition: 0.5s;
}
.use .bobo:hover:before,
.use .bobo:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}
.use .bobo:nth-child(1):before,
.use .bobo:nth-child(1):after {
  background: lightblue;
}
.use .bobo:nth-child(2):before,
.use .bobo:nth-child(2):after {
  background: lightblue;
}
.use .bobo:nth-child(3):before,
.use .bobo:nth-child(3):after {
  background: lightblue;
}

.use .bobo span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.use .bobo .coco {
  position: relative;
  left: 0;
  padding: 20px 40px;
  z-index: 1;

  border-radius: 8px;

  z-index: 1000;
  transition: 0.5s;
  transform: 0.5s;
  color: #fff;
}
.use .bobo .coco h3 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}
.use .bobo:hover .coco {
  left: 0px;
  padding: 60px 40px;
}
.use .bobo:hover .coco h5 {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.use .bobo .coco a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}
.use .bobo:hover .coco a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.font h2 {
  font-size: 200px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  color: lightblue;
  letter-spacing: 5px;
  text-shadow: 0px 1px 1px #919191, 0px 2px 1px #919191, 0px 3px 1px #919191,
    1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    2px 1px 1px #919191, 2px 2px 1px #919191, 2px 3px 1px #919191,
    1px 10px 30px rgba(0, 0, 0, 0.2), 1px 10px 70px rgba(0, 0, 0, 0.2),
    0px 5px 5px rgba(0, 0, 0, 0.2), -5px 5px 20px rgba(0, 0, 0, 0.2),
    5px 5px 20px rgba(0, 0, 0, 0.2), 1px 1px 120px rgba(255, 255, 255, 0.5);
}
ul li {
  position: absolute;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  list-style: none;
  opacity: 0;
  background: rgb(91, 166, 191);
}
.square li {
  top: 50vh;
  left: 45vw;
  animation: square 10s linear infinite;
}
.square li:nth-child(2) {
  top: 80vh;
  left: 10vw;
  animation-delay: 2s;
}
.square li:nth-child(3) {
  top: 80vh;
  left: 85vw;
  animation-delay: 4s;
}
.square li:nth-child(4) {
  top: 10vh;
  left: 70vw;
  animation-delay: 6s;
}
.square li:nth-child(4) {
  top: 10vh;
  left: 10vw;
  animation-delay: 6s;
}
.square li:nth-child(5) {
  top: 10vh;
  left: 85vw;
  animation-delay: 8s;
}
@keyframes square {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
  }
}
.circle li {
  bottom: 0;
  left: 15vw;
  animation: circle 10s linear infinite;
}
.circle li:nth-child(2) {
  left: 35vw;
  animation-delay: 2s;
}
.circle li:nth-child(3) {
  left: 55vw;
  animation-delay: 4s;
}
.circle li:nth-child(4) {
  left: 75vw;
  animation: 6s;
}
.circle li:nth-child(5) {
  left: 90vw;
  animation-delay: 7s;
}
@keyframes circle {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
    bottom: 0;
    border-radius: 0;
  }
  100% {
    transform: scale(5) rotate(1000deg);
    opacity: 0;
    bottom: 90vh;
    border-radius: 50%;
  }
}

p {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: rgb(52, 108, 127);
  padding: 10px;
}
.third {
  width: 230px;
}
.fff {
  justify-content: center;
  align-items: center;
  display: flex;
}
